<div class="footer"
fxLayout="row"
fxLayout.xs="column"
fxLayout.sm="column"
fxLayoutAlign="center">

  <div fxFlex="50%" class="container"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px">

    <span fxFlex><img src="/assets/logos/wisenet.png" height=120 width=87></span>
    <span fxFlex><img src="/assets/logos/winecloud.jpg" height=60 width=229></span>
    <span fxFlex><img src="/assets/logos/tso.png" height=100 width=100></span>

  </div>

  <div fxFlex=50% class="container row"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px">

      <span fxFlex><img src="/assets/logos/qualipac.jpg" height=130 width=130></span>
      <span fxFlex><img src="/assets/logos/qape.png" height=60 width=133></span>
      <span fxFlex><img src="/assets/logos/nobatek.png" height=120 width=120></span> 
  
  </div>

</div>
