$background-content: #A5C3E6;
$background-title: #4472C4;
$background-header: #5B9BD5;
$color: white;
$color-dark: white;

.header {
    background-color: $background-header;
    text-align: center;
    color: $color;
}

.content {
    margin-left: 1em;
    background-color: $background-content;
    color: $color-dark;
}

.item {
    font-size: small;
    letter-spacing: normal;
    line-height: 0.5em;
}

.container {
    display: flex;
    background-color: $background-content;
    margin: 1em;
}

.title {
    width: 30%;
    color: $color;
    background-color: $background-title;
    padding: 0.6em;
    text-align: center;
    margin: auto;
    margin-left: 0;
}

a {
    color: $color-dark;
}

mat-panel-description {
    text-align: center;
    display: block;
}

img {
    max-height: 45px;
    width: auto;
}

mat-expansion-panel-header {
    height: 100px;
}