<mat-accordion>
  <mat-expansion-panel *ngFor="let p of projets">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="title">
          {{ p.projet }}
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let d of p.data" class="container"
      fxLayout
      fxLayout="row"
      fxLayoutGap="0"> 
      <div class="item header" fxFlex="20%">
        <p>url preproduction</p>
        <p>url production</p>
        <p>description</p>
        <p>remarques</p>
      </div>
      <div class="item content" fxFlex>
        <p><a href="{{ d.urlPreProd }}">{{ d.urlPreProd }}</a></p>
        <p [hidden]="d.urlPreProd"><br></p>
        <p><a href="{{ d.urlProd }}">{{ d.urlProd }}</a></p>
        <p [hidden]="d.urlProd"><br></p>
        <p>{{ d.description }}</p>
        <p [hidden]="d.description"><br></p>
        <p>{{ d.remark }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>